:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
}
/* HEADER */
header {
    padding: 20px 35px;
    background-color: #334b9d;
    margin-bottom: 20px;
}
  
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: white;
}

/* FORM */
.form-input,
.form-textarea {
  display: block;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.main {
    margin: 0 0 20px 0;
}
  
.title {
    font-weight: bolder;
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}
  
.card-body {
    padding: 2.5%;
}

.card-bottom {
    padding: 2.5%;
    border-top: 2px solid var(--light-dark);
}

/* BUTTON */

.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
}
  
.btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}
  
.btn-inline {
    display: inline;
}
  
.btn-back {
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--secondary);
    transform: translate(-1px, -1px);
    display: inline-block;
    width: auto;
    margin-top: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
}
  
.btn-back:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

/* INFO BOX */
.box1{
margin-top: 1px;
}
.currentday{
    padding: 15px;
    border: 3px solid black;
}

.tr {
    width: 100%;
    background-color: whitesmoke;
    color: rgb(114, 112, 112);
    border: 1px solid grey;
}